
@{
    ViewData["Title"] = "SignUp";
}

@model SmartHome.Models.ClientSignUp

@{
    Layout = "../Shared/_Layout.cshtml";
}

<h2>SignUp</h2>

<div class="row">
    <form class="col s12" method="post" action="/smarthome/signup">
        <div class="row">
            <div class="input-field col s12">
                <label for="login">Login</label>
                @Html.EditorFor(e=>e.Login)
                <span>@Html.ValidationMessageFor(v => v.Login)</span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="email">Email</label>
                @Html.EditorFor(e => e.Email)
                <span>@Html.ValidationMessageFor(v => v.Email)</span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="password">Password</label>
                @Html.EditorFor(e => e.Password)
                <span>@Html.ValidationMessageFor(v => v.Password)</span>
            </div>
        </div>
        <input type="submit" value="Send" class="btn">
    </form>
</div>


